/*------------------------------------*\
    $align
\*------------------------------------*/
.text-center {
  text-align: center; }

.text-top {
  text-align: top; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-bottom {
  text-align: bottom; }
