html {
    width: 100%;
    height: $h-base;
}

body {
    width: $w-base;
    height: $h-base;
    font-family: $ff-base;
    font-size: $fs-base;
    background-color: $bc-base;
    margin: 0 auto;
}

// 共用Class
// 清除浮動
.clearfix {
    overflow: hidden;
}

// 標題字
.title-size {
    font-size: $fs-lg;
    font-weight: bold;
}

// 圖片取代文字樣式及動畫
.img-message-style {
    cursor: pointer;
    transition: all .8s;
    transform: scale(1);
    box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.5);
    &:hover {
        transform: scale(1.2);
        border: 1px solid black;
    }
}

// 可客製化的標籤
.top-tag-circle {
    @include top-tag(60px, 60px, #fff, #000);
    border-radius: 50%;
}