/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

// bc - BgColor
$bc-base: #fff;
$bc-Primary:plum;
$bc-Info: orange;
$bc-Secondry: #ccc;
// fc - FontColor
$fc-base: #000;
// ff - FontFamily
$ff-base: 'Open Sans';
// fs - FontSize
$fs-base: 16px;
$fs-sm: $fs-base / 1.3;
$fs-lg: $fs-base * 1.3;
// w - Width
$w-base: 1200px;
$w-md-mobile: 414px;
$w-sm-mobile: 320px;
// h - Height
$h-base: 100%;
// t - transition
$t-Time: .8s;