doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title SassProject
    // Main CSS
    link(href="../css/all.css" rel="stylesheet")
    body
      header
      artice
        div.container.row.pr-0
          div.col-8
            ul.mt-0
              li.row
                div.col-3.pl-0
                  div
                    div.mdImg.mdImg--textHide.clearfix
                      img.mdImg__img(src="../img/img1.png")
                      span.mdImg__span 96x96 images
                div.col
                  div.titleSize.mb-2 Title Lorem..
                  div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum fugit, repellat, commodi culpa consequuntur, sit velit reiciendis..
              li.row
                div.col-3.pl-0
                  div.mdImg.mdImg--textHide.clearfix
                    img.mdImg__img(src="../img/img2.png")
                    span.mdImg__span 96x96 images
                div.col
                  div.titleSize.mb-1 Title Lorem..
                  div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum fugit, repellat, commodi culpa consequuntur, sit velit reiciendis..
          div.col-4
            div.lgImg.lgImg--textHide.clearfix.mx-auto
              img.lgImg__img(src="../img/img3.png")
              span.lgImg__span 208x208 images
            div.tagStyle.tagStyle--circle
              span TOP 1
      footer.text-center.mt-2.p-5
        span 表尾文字
          
