<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Final Practice
    link(rel="stylesheet", href="../css/all.css")
  body
    .wrap
      .col-container
        header.header
          .content.bgSecondry 
            span.content__span Header
      .col-container
        main.col-row
          .leftMenu.col-6
            .content.bgPrimary 
              span.content__span 左側選單
          .article.col-18
            .content.bgPrimary 
              span.content__span 主要內容
      .col-container
        .sponsor.text-center.col-row
          .sponsor__ad.col-8
            .content.bgInfo.clearfix
              img.content__img.transitionAll.rounded-circle(src="../img/ad-1.png")
              span.content__span 贊助商
          .sponsor__ad.col-8
            .content.bgInfo.clearfix
              img.content__img.transitionAll.rounded-circle(src="../img/ad-2.png")
              span.content__span 贊助商
          .sponsor__ad.col-8
            .content.bgInfo.clearfix
              img.content__img.transitionAll.rounded-circle(src="../img/ad-3.png")
              span.content__span 贊助商
      .col-container
        .form.col-row.noGutters 
          .map.col-12
            .content.bgPrimary 
              span.content__span 地圖
          .inputs.col-12
            .content.bgInfo
              span.content__span 表單
      .col-container
        footer.footer
            .content.bgSecondry 
              span.content__span Footer
